.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0e0e0e;
}

.auth-card {
  background: #151515;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-card input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #222;
  color: white;
}
.auth-card input:active {
  outline: #7613ff;
}

.auth-card button {
  padding: 12px;
  background: #7613ff;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auth-card p {
  color: #aaa;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.auth-card p:hover{
  transform: scale(1.05);
}

.auth-error {
  background: #3a0000;
  color: #ff6b6b;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
}

