.layout {
    width: 100%;
    max-width: 1400px;   /* kontrola širine */
    margin: 0 auto;     /* centriranje */
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 40px;
    align-items: start;
}

.title {
  width: 100%;
  text-align: center;
}

.wheel-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontalni centar */
    justify-content: center; /* vertikalni centar */
    padding-top: 0px;
    width: 100%;
}

.wheel-placeholder {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px dashed #999;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #999;
}

.wheel-group {
    transform-origin: 150px 150px;
    transition: transform 5s cubic-bezier(0.33, 1, 0.68, 1);
}

.character-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-items: center;
    margin-left: 50px;
    margin-right: auto;
    height: 0;
}

.character-card {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid transparent;
    background: #1a1a1a;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    width: 140px;
    height: 140px;
    transition: border-color 0.2s;
}

button:focus {
    outline: none;
}

.character-card.in-wheel {
    opacity: 0.8;
    box-shadow: inset 0 0 0 2px #7613ff;
}

.character-card.in-history {
    opacity: 0.8;
    cursor: not-allowed;
    border: 0;
    color: #444;
}

.character-card:hover {
    border-color: #7613ff;
}

.winner-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.winner-modal {
    background: #111;
    color: white;
    padding: 60px;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    animation: popIn 0.3s ease-out;
}

.winner-name {
    margin: 20px 0;
    padding: 15px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: bold;
    height: 300px;
}

.winner-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%; /* okrugla slika */
    margin-bottom: 4px; /* razmak između slike i imena */
}

.winner-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.remove-btn {
    background: #e53935;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.close-btn {
    background: #444;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.winner-history {
    gap: 10px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.winner-slot {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    overflow: hidden;
    background: #1a1a1a;
    overflow: hidden;
    border: 2px solid #1a1a1a;
    transition: border 0.25s;
}

.winner-slot:hover {
    border: 2px solid #7613ff;
}

.winner-image-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wheel-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.wheel-svg {
  border-radius: 50%;
  background: #f5f5f5;
}

.spin-btn {
  padding: 12px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.main-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    width: 100%;
}