.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #1a1a1a;
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.4);

  z-index: 1000;
}

/* LEVO */
.header-left {
  flex: 1;
}

.header-user {
  font-weight: 600;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

/* CENTAR */
.header-center {
  flex: 1;
  text-align: center;
}

.header-center h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 1px;

  background: #7c3aed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 20px rgba(168, 85, 247, 0.2);
}

/* DESNO */
.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* LOGOUT BUTTON */
.logout-btn {
  background: #242424;
  border: 1px solid #242424;
  border-radius: 10px;

  padding: 8px 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition: all 0.25s ease;
}

.logout-btn:hover {
  border: 1px solid #7c3aed;
}

.logout-btn:active {
  transform: scale(0.96);
}

.stats-btn {
  background: #242424;
  border: 1px solid #242424;
  border-radius: 10px;

  margin-right: 10px;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition: all 0.25s ease;
}

.stats-btn:hover {
  border: 1px solid #7c3aed;
}

.stats-btn:active {
  transform: scale(0.96);
}