.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1e1e1e;
    color: white;

    font-size: 20px;
}